.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  

.tab{
    height: 5vh;
    width: auto;
}

.tab button.inactive{
    background-color:rgba(0,0,0,0.15);
    height: 100%;
    color: white;
}

.tab button.active {
    height: 100%;
    color:rgba(0,0,0,);
    background-color: rgba(255,255,255,0.85);
    
}

.tabcontent {
    background-color:rgba(0,0,0,0.4);
    height: 74vh;
}

.tabcontent h1{
    text-align: center;
    color: #afff14;
}